{% extends 'trading/base.html' %}

{% load static %}

{% load break %}

{% block main %}

<div class="container">
  <div class="row">

    <div class="col-lg-12 glass-effect wrap-row" style="background-color: rgba(38,50,56, 0.7); color: #000;">
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Profile Info</legend>
      </fieldset>
      <div class="content-section">
        <div class="position-relative">
          <div class="media user-name user-profile-wrap">
            <img class="rounded-circle account-img" src="{{ user_profle.image.url }}" />
            <div class="wrap-user-follower">
              <h2 class="account-heading"> @{{ user_profle.user.username }}</h2>
              <!-- <button type="button" class="follower-btn btn btn-primary" data-toggle="modal" data-target="#followermodal">
                {{user_follower.count}} followers
              </button> -->

              <!-- <button class="follower-btn btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  You have {{friend_List|length}} contacts
                </button> -->
              {% if user_follower %}
              <button class="follower-btn btn btn-primary" type="button" data-toggle="collapse"
                data-target="#followercollapse" aria-expanded="false" aria-controls="followercollapse">
                {{user_follower.count}} followers
              </button>
              {% else %}
              <p>0 Followers </p>
              {% endif %}

              <div class="collapse wrap-followers-cell-drop" id="followercollapse">
                <div class="card card-body">

                  <div class="wrap-followers-block">
                    {% for users in user_follower %}
                    <div class="wrap-followers-cell">
                      <div class="wrap-followers-inside">
                        <input type="hidden" name="username" value="{{users.user_id.username}}">
                        <a href="{% url 'Userprofile' users.user_id.id   %}"> <img
                            src="{{users.user_id.profile.image.url}}" alt="" class="user-profile-ico">
                          {{users.user_id.username}}</a>
                      </div>
                      <form method="POST" id="to-follow" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="{{users.user_id.id}}" id="follow{{users.user_id.id}}" />
                        {% if users.user_id.id in request_user_follower %}
                        <button onclick="AddToFollow({% url 'add_to_follow'  %},{{users.user_id.id}})"
                          id="status{{users.user_id.id}}" class="btn btn-warning m-2 send-message-btn following-btn"
                          value="True">Following</button>
                        {% else %}
                        <button onclick="AddToFollow({% url 'add_to_follow'  %},{{users.user_id.id}})"
                          id="status{{users.users_id.id}}" class="btn btn-warning m-2 send-message-btn"
                          value="False">Follow</button>
                        {% endif %}
                      </form>
                    </div>
                    {% endfor %}


                  </div>
                  <!-- <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a> -->

                </div>
              </div>

              <div class="follower-dropdown">
                <!-- <button class="follower-btn btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    You have {{friend_List|length}} contacts
                  </button> -->
                <div class="follower-dropdown">
                  <!-- <button class="follower-btn btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      You have 17 contacts
                    </button> -->



                  {% if request.user in friends %}
                  <button class="follower-btn btn btn-primary" type="button" data-toggle="collapse"
                    data-target="#collapseExample" aria-expanded="true" aria-controls="collapseExample">
                    {{friends|length}} contacts
                  </button>
                  {% elif friends %}
                  <p>{{friends|length}} Contacts </p>
                  {% else %}
                  <p>0 Contacts </p>
                  {% endif %}

                  <div class="wrap-followers-cell-drop collapse " id="collapseExample" style="">
                    <div class="card card-body">

                      <div class="wrap-followers-block">

                        {% for users in friends %}
                        <div class="wrap-followers-cell">
                          <div class="wrap-followers-inside">
                            <input type="hidden" name="username" value="{{users.id}}">
                            <a href="{% url 'Userprofile' users.id   %}"> <img src="{{ users.profile.image.url }}"
                                alt="" class="user-profile-ico"> {{users.username}}</a>
                          </div>
                          <button onclick="showChatBox('{{ request.user.id }}','{{ users.id }}',true)" type="submit"
                            value="" class="btn btn-link btn-sm pull-right send-message-btn">
                            Send Message</button>
                        </div>
                        {% endfor %}
                        <!-- <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a> -->

                      </div>
                    </div>


                  </div>


                </div>


              </div>

            </div>
            <form method="POST" id="to-follow-two" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" value="{{user_profle.user.id}}" id="follow{{user_profle.user.id}}" />
              {% if followers %}
              <button onclick="AddToFollow({% url 'add_to_follow'  %},{{user_profle.user.id}})"
                id="status{{user_profle.user.id}}" class="btn-follow btn btn-warning m-2 send-message-btn"
                value="True">Following</button>
              {% elif followers is None %}
              <button onclick="AddToFollow({% url 'add_to_follow'  %},{{user_profle.user.id}})"
                id="status{{user_profle.user.id}}" class="btn-follow btn btn-warning m-2 send-message-btn"
                value="False">Follow</button>
              {% else %}
              <button onclick="AddToFollow({% url 'add_to_follow'  %},{{user_profle.user.id}})"
                id="status{{user_profle.user.id}}" class="btn-follow btn btn-warning m-2 send-message-btn"
                value="False">Follow</button>
              {% endif %}
            </form>
            {% comment %} <a class="btn-follow btn btn-warning m-2 send-message-btn add-Contact-btn">Add Contact</a>  {% endcomment %}

            {% if user_profle.user.username|break:request.user == True  %}
            <span class="alert alert-warning alert-dismissible request-alert">{{user_profle.user.username}} is already in your
              list </span>
            {% elif user_profle.user.id in requested_user %}
            <span class="alert alert-warning alert-dismissible request-alert">Request Sent </span>
            {% else %}
            <form method="POST" id="post-forms" class="connect-block" data_id="{{user_profle.user.id}}">
              {% csrf_token %}

              <input type="hidden" name="id" id="id" value="{{user_profle.user.id}}">
              <input id="add_list{{user_profle.user.id}}" type="submit" value="Add Contact"
                class="add-Contact-btn btn btn-follow btn-warning m-2 new-btn send-message-btn">

            </form>


            {% endif %}



            <div class="alert col-md-12 mt-3 alrt-blue-bg">
              <!-- <h5>{{ user_profle.user.username }}'s followers</h5>
          {% for i in friends %} -->

              <!-- <div id="dropdownFriends" class="dropdownfriendswrap">
            <div class="dropdown account-setting-dropdown"> -->
              <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownfriendsButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                You have {{friend_List|length}} contacts
              </button>
              <div class="dropdown-menu-one" aria-labelledby="dropdownfriendsButton">
                {% for i in friend_List %}

                <div class="overflow-auto row user-chat-notif">
                  <div class="col-md-12 flex-wrap-send-msg">
                    <a href="{% url 'Userprofile' i.id   %}" class="wrap-user-block"> <img
                        class="rounded-circle account-img" height="50px" width="auto"
                        src="{{ user_profle.image.url }}" /> <span>
                        <div class="user-name col-md-12">
                          <div class="user-name-sm">
                            <span>First Name</span>
                            <span>Last Name</span>
                          </div>
                          <span>{{ i}}</span>
                        </div>
                      </span></a>
                    <button onclick="showChatBox('{{request.user.id }}','{{ i.id }}',true)"
                      class="btn btn-warning m-2 send-message-btn">Send Message</button>
                  </div>
                </div>

                {% endfor %}
              </div>
            </div> -->

              <!-- </div> -->


              <!-- {% endfor %} -->
              <!-- <button type="button" class="follower-btn btn btn-primary" data-toggle="modal" data-target="#followermodal">
            {{user_follower.count}} followers
          </button> -->
            </div>
            <div class="col-md-12">
              <div class="row">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible">
                  <button class="close" type="button" data-dismiss="alert">×</button>
                  <i class="fa fa-warning"></i> &nbsp;&nbsp;&nbsp;{{message}}
                </div>
                {% endfor %}
                {% endif %}
              </div>
              {% for post in posts %}
              <div class="container wrap-user-post-cells mb-0"
                style="padding: 20px; border: 1px solid gray; color: #000;">
                <div class="row position-relative">
                  {% if post.author == request.user %}
                  <button onclick="del({% url 'delete'  %})" class="trash-ico"><i class="fa fa-trash-o"
                      aria-hidden="true"></i></button>
                  {% endif %}
                  <div class="col-md-12 left-cell-profile">

                    <div class="info-box">
                      <a href="{% url 'Userprofile' post.author.id   %}">
                        <img class="rounded-circle pull-left" height="75px" width="auto"
                          src="{{ post.author.profile.image.url }}" alt="Card image cap">
                      </a>
                      <center class="activity-block">

                        <div class="col-md-12 right-cell-profile mt-3">
                          <div class="wrap-date-username">
                            <p class="center align-content-center">
                              <a href="{% url 'Userprofile' post.author.id   %}">
                                {{post.author}}
                              </a>
                            </p>
                            <p class="center posted-date">{{post.time_since_posted}}</p>
                          </div>

                          <p>{{ post.title }}</p>
                          {% if post.content%}
                          <p>{{ post.content }}</p>
                          {% endif%}
                          {% if post.img %}
                          <div class="mt-3">
                            <img src="{{post.img.url}}" class="img-user-block">
                          </div>
                          {% endif %}
                          {% if post.video %}
                          <div class="mt-3">
                            <video class="img-user-block" controls>
                              <source src="{{post.video.url}}">
                            </video>
                          </div>
                          {% endif %}

                          <p class="share-comment-wrap pl-4">
                            <input type="hidden" value={{post.id}} id='post' />
                            {% if user|custom_filter:post.id %}
                            <button onclick="like({% url 'share'  %},{{post.id}})" id='like-{{post.id}}' value="False">
                              <i id="icon-like-{{post.id}}" class="fa fa-thumbs-up" aria-hidden="true"></i>
                              <span id="count-likes-{{post.id}}" class="count-likes">{{post.likes_count}}</span>
                            </button>
                            {% else %}
                            <button onclick="like({% url 'share'  %},{{post.id}})" id='like{{post.id}}' value="True">
                              <i id="icon-like-{{post.id}}" class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                              <span id="count-likes-{{post.id}}" class="count-likes">{{post.likes_count}}</span>
                            </button>
                            {% endif %}



                            <!-- <button onclick="comment({% url 'share'  %})"><i class="fa fa-comment-o" aria-hidden="true"></i> <span class="count-comments">1223
                          3
                        </span>
                        </button> -->

                            <button onclick="all_comments({% url 'comments'  %},{{post.id}})">
                              <i class="fa fa-comment-o" aria-hidden="true"></i> <span
                                class="count-comments">{{post.comments_count }}
                              </span>
                            </button>

                            <button onclick="share({% url 'share' %},{{post.id}})"><i class="fa fa-share-alt"
                                aria-hidden="true"></i></button>


                          </p>

                        </div>
                      </center>
                    </div>

                  </div>


                </div>
              </div>
              <br />
              {% endfor %}



              {% comment %} </form> {% endcomment %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="modal fade" id="CommentModalCenter" tabindex="-1" role="dialog" aria-labelledby="CommentModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div id="comment-body" class="modal-body">
      <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button> -->
      {% include 'trading/comments.html' %}
    </div>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div> -->
</div>
</div>
<div class="modal fade share-modal" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title">Share</h5> <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span> </button>
      </div>
      {% comment %} <div class="modal-body">
        <div class="icon-container1 d-flex">
          <div class="smd"> <i class=" img-thumbnail fa fa-twitter fa-2x"
              style="color:#4c6ef5;background-color: aliceblue"></i>
            <a href="www.twitter.com" id="share-twitter-url">
              <p>Twitter</p>
            </a>
          </div>
          <div class="smd"> <i class="img-thumbnail fa fa-facebook fa-2x"
              style="color: #3b5998;background-color: #eceff5;"></i>
            <a href="www.facebook.com">
              <p>Facebook</p>
            </a>

          </div>

        </div>

      </div> {% endcomment %}
      <div class="modal-footer"> <label style="font-weight: 600">Page Link <span class="message"></span></label><br />
        <div class="row"> <input class="col-10 ur" type="url" placeholder="#" id="myInput"
            aria-describedby="inputGroup-sizing-default" style="height: 40px;"> <button class="cpy"
            onclick="myFunction()"><i class="fa fa-clone"></i></button> </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="followermodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="followermodalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="wrap-followers-block">
          {% for follower in user_follower%}
          <div class="wrap-followers-cell">
            <div class="wrap-followers-inside">
              <img src="{{follower.user_id.profile.image.url}}" class="user-badge" alt="">
              <a href="#" class="pt-3">
                <h2>
                  {{follower.user_id.username}}
                </h2>
              </a>
            </div>
            <button class="btn btn-primary action-btn">Follow</button>
          </div>
          {% endfor %}
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div> -->
    </div>
  </div>
</div>

<script src="{% static 'js/extra.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $('#post-forms').on('submit', function (e) {
    e.preventDefault();
    id = $(this).attr("data_id"),

      $.ajax({
        method: 'POST',
        url: "{% url 'search' %}",

        data: {
          id: $(this).attr("data_id"),
          action: 'post'

        },
        success: function (json) {

          $("#add_list" + id).attr('value', 'Request sent ');
          $("#add_list" + id).css('backgroundColor', 'black');
          $("#add_list" + id).css('margin-left', '33%');
          // $("#mydiv").load(location.href + " #mydiv");
        },
        error: function (xhr, errmsg, err) {
          console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
      });
  });
</script>
<script>
  function myFunction() {

    $(".message").text("link copied");
  }
</script>

<script>
  $(document).ready(function () {
    $("#dropdownfriendsButton").click(function () {
      $(".dropdown-menu-one").toggle();
    });
  });
</script>
{% endblock %}